@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

body {
  background-color: #202020;
  padding: 20px;
}
.main1 {
    width: 50%;
    background-color: white;
    padding: 20px;
    align-self: center;
}
.titre {
  font-family: "Sonsie One", sans-serif;
  font-size: 2em;
  color: #ffee32;
  text-align: center;
}
.titre1 {
  font-family: "Palette Mosaic", cursive;
  font-size: 2em;
  color: #333533;
  text-align: right;
}
.titre2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size : 1.5em;
  letter-spacing : 0em;
  color: #202020;
  text-align: left;
}
.container {
  display: flex;
  flex-direction: column;
}
.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px;
}
.textInput {
  width: 50%;
  background-color: #ffd10061;
  border: none;
}
.connectionButton {
  margin: 20px;
  padding: 10px;
  font-family: "Sonsie One", sans-serif;
  font-size: 1.5em;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #ffee32;
  background-color: #333533;
}
.connectionButton:hover {
  color: #ffd100;
  background-color: #202020;
}
