body {
    background-color: #202020;
    padding: 20px;
  }
  .main1 {
      width: 80%;
      background-color: white;
      padding: 20px;
      align-self: center;
  }
  .titre {
    font-family: "Sonsie One", sans-serif;
    font-size: 2em;
    color: #ffee32;
    text-align: center;
  }
  .titre1 {
    font-family: "Palette Mosaic", cursive;
    font-size: 2em;
    color: #333533;
    text-align: right;
  }
  .titre2 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size : 1.5em;
    letter-spacing : 0em;
    color: #202020;
    text-align: left;
  }
  .text {
    font-family: "Calibri", sans-serif;
    font-size: 1.5em;
    text-align: left;
  }
  .errorMessage {
    margin: 0px 20px 10px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size : 1em;
    letter-spacing : 0em;
    color: red;
    text-align: right;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
  }
  .basicButton {
    margin: 20px;
    padding: 10px;
    font-family: "Sonsie One", sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: #ffd100;
    background-color: #333533;
  }
  .basicButton:hover {
    color: #ffee32;
    background-color: #202020;
  }
  .mediumButton {
    margin: 10px 20px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    border: none;
    width: 50%;
    cursor: pointer;
    color: #202020;
    background-color: #ffee32;
  }
  .mediumButton:hover {
    color: #ffd100;
    background-color: #333533;
    text-decoration: none;
  }
  .littleButton {
    margin: 10px 20px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1em;
    text-align: right;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    color: #333533;
  }
  .littleButton:hover {
    color: #ffd100;
    background-color: #333533;
    text-decoration: none;
  }
