// module d'import des couleurs
//Pale Pink
$lightest: #FFD7D7;
//Salmon
$light: #FE826C;
//Scarlet
$dark: #FD2D01;
//Barn Red
$darkest: #7F1701;
//Eerie Black
$primary-dark: #202020;
//Sonic Silver
$secondary-dark: #757575;
