@use "colors";
@use "responsive";

p, h1, h2, h3 {
  margin: 0;
  display: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.titre {
  &__principal {
    font-family: "Nevis_Bold", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: colors.$dark;
    background-color: black;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    @include responsive.medium_screens {
      font-size: 1em;
    }
  }
  &__secondaire {
    font-family: "Luciole_Bold", sans-serif;
    font-size: 1.5em;
    text-align: right;
    color: colors.$light;
    background-color: colors.$primary-dark;
    margin: 10px 0;
    padding: 5px 10px;
    box-sizing: border-box;
    @include responsive.medium_screens {
      font-size: 1em;
    }
  }
  &__tertiaire {
    font-family: "Luciole_Regular", sans-serif;
    font-size: 1em;
    text-align: left;
    color: colors.$lightest;
    background-color: colors.$primary-dark;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  &__petit {
    font-family: "Luciole_Regular_Italic", sans-serif;
    font-size: 1em;
    color: white;
    background-color: colors.$secondary-dark;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
  }
}

.text {
  font-family: "Luciole_Regular", sans-serif;
  font-size: 1em;
  color: black;
  padding: 0px 5px;
  word-break: break-word;
  &__details {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 0.8em;
    color: black;
    padding: 0px 5px;
    word-break: break-word;
  }
  &--end {
    text-align: end;
  }
}

.bouton {
  &__principal {
    font-family: "Luciole_Bold", sans-serif;
    font-size: 1.5em;
    border: none;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
    padding: 5px 10px;
    cursor: pointer;
    color: colors.$primary-dark;
    background-color: colors.$light;
    &:hover, &:focus {
      color: colors.$light;
      background-color: colors.$primary-dark;
    }
    @include responsive.medium_screens {
      font-size: 1em;
    }
  }
  &__secondaire {
    font-family: "Luciole_Regular", sans-serif;
    font-size: 1em;
    border: none;
    text-decoration: none;
    text-align: center;
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
    color: colors.$primary-dark;
    background-color: colors.$lightest;
    &:hover, &:focus {
      color: colors.$lightest;
      background-color: colors.$primary-dark;
    }
    &--rev {
      color: colors.$lightest;
      background-color: colors.$primary-dark;
      &:hover, &:focus {
        color: colors.$primary-dark;
        background-color: colors.$lightest;
      }
    }
  }
  &__tertiaire {
    font-family: "Luciole_Regular", sans-serif;
    font-size: 0.8em;
    border: none;
    text-decoration: none;
    text-align: center;
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
    color: black;
    background-color: white;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  &__conversation {
    font-family: "Luciole_Regular", sans-serif;
    font-size: 1em;
    border: 1px solid colors.$secondary-dark;
    box-shadow: border-box;
    text-decoration: none;
    text-align: left;
    padding: 5px 10px;
    color: black;
    background-color: white;
    align-self: stretch;
    &:hover, &:focus {
      border: 1px solid white border-box;
      background-color: colors.$lightest;
    } 
  }
  &__fermer {
    font-family: "Luciole_Bold", sans-serif;
    font-size: 1.5em;
    border: none;
    text-decoration: none;
    margin-bottom: 10px;
    align-self: flex-end;
    color: white;
    background-color: black;
    &:hover, &:focus {
      color: black;
      background-color: colors.$dark;
    }
  }
}

.alerte {
  font-family: "Luciole_Regular", sans-serif;
  font-size: 1em;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px 10px;
  color: white;
  background-color: colors.$darkest;
  align-self: flex-end;
}

.icone {
  &__box {
    width: 50px;
    background-color: inherit;
    @include responsive.medium_screens {
      width: 40px;
    }
  }
  &__parametres {
    height: 30px;
    width: 30px;
    border: none;
    margin: 5px;
    padding: 0;
    background-color: colors.$primary-dark;
    -webkit-mask: url("../Images/usefull_icons/gear-solid.svg") no-repeat center;
    mask: url("../Images/usefull_icons/gear-solid.svg") no-repeat center;
    @include responsive.medium_screens {
      height: 20px;
      width: 20px;
      margin: 0;
    }
  }
  &__utilisateur {
    height: 30px;
    width: 30px;
    border: none;
    margin: 5px;
    padding: 0;
    background-color: colors.$primary-dark;
    -webkit-mask: url("../Images/usefull_icons/user-solid.svg") no-repeat center;
    mask: url("../Images/usefull_icons/user-solid.svg") no-repeat center;
    @include responsive.medium_screens {
      margin: 0;
    }
  }
  &__public {
    height: 30px;
    width: 30px;
    border: none;
    margin: 5px;
    padding: 0;
    background-color: colors.$primary-dark;
    -webkit-mask: url("../Images/usefull_icons/people-line-solid.svg") no-repeat center;
    mask: url("../Images/usefull_icons/people-line-solid.svg") no-repeat center;
    @include responsive.medium_screens {
      margin: 0;
    }
  }
  &__gestionnaire {
    height: 30px;
    width: 30px;
    border: none;
    margin: 5px;
    padding: 0;
    background-color: colors.$primary-dark;
    -webkit-mask: url("../Images/usefull_icons/owner-solid.svg") no-repeat center;
    mask: url("../Images/usefull_icons/owner-solid.svg") no-repeat center;
    @include responsive.medium_screens {
      margin: 0;
    }
  }
  &__cadenas {
    height: 30px;
    width: 30px;
    border: none;
    margin: 5px;
    padding: 0;
    background-color: colors.$dark;
    -webkit-mask: url("../Images/usefull_icons/lock-solid.svg") no-repeat center;
    mask: url("../Images/usefull_icons/lock-solid.svg") no-repeat center;
    @include responsive.medium_screens {
      margin: 0;
    }
  }
  &__fermeture {
    height: 30px;
    width: 30px;
    border: none;
    padding: 0;
    background-color: white;
    -webkit-mask: url("../Images/usefull_icons/xmark-solid.svg") no-repeat center;
    mask: url("../Images/usefull_icons/xmark-solid.svg") no-repeat center;
    @include responsive.medium_screens {
      height: 20px;
      width: 20px;
      margin: 0;
    }
  }
}
*:hover, *:focus {
  >.icone__parametres {
    background-color: colors.$dark;
  }
  >.icone__utilisateur {
    background-color: colors.$dark;
  }
}

.logo {
  height: 3em;
  @include responsive.medium_screens {
    height: 2.5em;
  }
}

.message {
  margin: 5px 0;
  padding: 10px 15px;
  width: 70%;
  &__written {
    background-color: colors.$lightest;
    align-self: flex-end;
  }
  &__read {
    background-color: lightgray;
    align-self: flex-start;
  }
  
  &__global {
    background-color: colors.$dark;
    width: calc(100% - 30px);
    border: none;
    align-self: center;
  }
}

input {
  &[type="checkbox"] {
  accent-color: colors.$light;
  margin: 0 0 10px 0;
  }
  &[type="text"] {
    font-family: "Luciole_Regular", sans-serif;
    font-size: 1em;
    color: black;
    background-color: colors.$lightest;
    width: calc(100% - 4px);
    border: none;
    margin: 5px 0;
    padding: 2px;
    &::placeholder {
        font-family: "Luciole_Regular_Italic", sans-serif;
        font-size: 0.8em;
      }
  }
  &[type="password"] {
    font-family: "Luciole_Regular", sans-serif;
    font-size: 1em;
    color: black;
    background-color: colors.$lightest;
    width: calc(100% - 4px);
    border: none;
    margin: 5px 0;
    padding: 2px;
    &::placeholder {
      font-family: "Luciole_Regular_Italic", sans-serif;
      font-size: 0.8em;
    }
  }
}