// module d'import des fonts
//Nevis Bold
@font-face {
font-family: "Nevis_Bold" ;
src: url("../fonts/Nevis-Bold.ttf") format("truetype") ;
};
//Luciole Bold
@font-face {
font-family: "Luciole_Bold" ;
src: url("../fonts/Luciole-Bold.ttf") format("truetype") ;
};
//Luciole Regular
@font-face {
font-family: "Luciole_Regular" ;
src: url("../fonts/Luciole-Regular.ttf") format("truetype") ;
};
//Luciole Regular Italic
@font-face {
font-family: "Luciole_Regular_Italic" ;
src: url("../fonts/Luciole-Regular-Italic.ttf") format("truetype") ;
};
//M PLUS Rounded 1c Regular 400
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
