// module d'adaptation du style de l'add-on vueform/multiselect
// import des modules des gestion du responsive design, des couleurs et des polices de caractères
@use "colors";
@use "fonts";
@use "responsive";

// gestion des étiquettes dans les listes déroulantes
.multiselect-tag {
  font-family: "Luciole_Regular", sans-serif;
  font-size: 1em;;
  color: colors.$primary-dark;
  word-break: break-word;
  background-color: colors.$light;
  &-remove {
    margin-left: 5px;
    color: white;
    background-color: black;
  }
  &:hover {
    color: colors.$light;
    background-color: colors.$primary-dark;
    >.multiselect-tag-remove {
      color: black;
      background-color: white;
      &:hover {
        color: black;
        background-color: colors.$light;
      }
    }
  }
  @include responsive.medium_screens {
    font-size: 0.8em;
    align-items: flex-start;
  }
}
// gestion des contenants de liste déroulante
.multiselect-wrapper {
  @include responsive.medium_screens {
    flex-wrap: wrap;
  }
}
// gestion de l'affichage des options disponibles
.multiselect-option {
  font-family: "Luciole_Regular", sans-serif;
  color: colors.$primary-dark;
  background-color: white;
  &.is-pointed {
    color: colors.$primary-dark;
    background-color: colors.$light;
  }
  @include responsive.medium_screens {
    font-size: 0.8em;
    align-items: flex-start;
  }
}
// gestion de la croix de suppression du contenu de la liste déroulante
.multiselect-clear {
  background-color: black;
  padding: 0.25rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  &:hover {
    color: black;
    background-color: colors.$dark;
  }
  &-icon {
    background-color: white;
  }
}
// gestion de l'affichage de la liste déroulante
.multiselect-caret {
  background-color: black;
}
// gestion de l'affichage des placeholder
.multiselect-placeholder {
  font-family: "Luciole_Regular_Italic", sans-serif;
  font-size: 0.8em;
}
