// module de gestion des composant structurels de l'application
// import des modules des gestion du responsive design et des couleurs
@use "responsive";
@use "colors";

// gestion de la hauteur d'affichege de la page
html {
  height: 100vh;
}
// gestion de l'affichage du contenu de la page
body {
  background-color: #202020;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5px 10px;
  height: calc(100vh - 10px);
}
// gestion d'affichage du bloc principal
.main {
  background-color: white;
  margin: 0;
  padding: 0;
  align-self: center;
}
// gestion d'affichage du footer
.footer {
  background-color: colors.$secondary-dark;
  margin: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  align-self: center;
}
// gestion de l'affichage des contenants
.container {
  display: flex;
  flex-direction: column;
  &__main {
    padding: 5px;
    box-sizing: border-box;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include responsive.medium_screens {
      flex-direction: column;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &--rev {
      flex-direction: column-reverse;
    }
  }
}
// options pour spécifier l'attribut justify-content
.jc {
  &__start {
    justify-content: flex-start;
    @include responsive.medium_screens {
      justify-content: center;
    }
  }
  &__sb {
    justify-content: space-between;
  }
  &__center {
    justify-content: center;
  }
  &__end {
    justify-content: flex-end;
    @include responsive.medium_screens {
      justify-content: center;
    }
  }
}
// options pour spécifier l'attribut align-items
.ai {
  &__start {
    align-items: flex-start;
    @include responsive.medium_screens {
      align-items: center;
    }
  }
  &__center {
    align-items: center;
  }
  &__stretch {
    align-items: stretch;
  }
  &__end {
    align-items: flex-end;
    @include responsive.medium_screens {
      align-items: center;
    }
  }
}
// options pour spécifier l'attribut align-content
.ac {
  &__start {
    align-content: flex-start;
    @include responsive.medium_screens {
      align-content: center;
    }
  }
  &__center {
    align-content: center;
  }
  &__stretch {
    align-content: stretch;
  }
  &__end {
    align-content: flex-end;
    @include responsive.medium_screens {
      align-content: center;
    }
  }
}
// options pour donner des attributs aux scrollbox
.scrollbox {
  overflow-y: auto;
  margin: 3px 0;
}
// options pour spécifier l'attribut flex
.f1 {
  flex: 1;
}
// options pour spécifier l'attribut width
.w {
  &100 {
    width: 100%;
    max-width: 1920px;
  }
  &90 {
    width: 90%;
    @include responsive.large_screens {
      width: 100%;
    }
  }
  &80 {
    width: 80%;
    @include responsive.large_screens {
      width: 100%;
    }
  }
  &75 {
    width: 75%;
    @include responsive.medium_screens {
      width: 100%;
    }
  }
  &70 {
    width: 70%;
    @include responsive.medium_screens {
      width: 100%;
    }
  }
  &50 {
    width: 50%;
  }
  &28 {
    width: 28%;
    @include responsive.medium_screens {
      width: 100%;
    }
  }
  &20 {
    width: 20%;
    @include responsive.medium_screens {
      width: 100%;
    }
  }
  &15 {
    width: 15%;
  }
  &10 {
    width: 10%;
  }
}
// options pour spécifier l'attribut height
.hv {
  &__messages {
    height: calc(100vh - 440px);
    flex-grow: 1;
    @include responsive.medium_screens {
      height: 75vh;
    }
  }
  &__conversations {
    height: calc(100vh - 340px);
    flex-grow: 1;
    @include responsive.medium_screens {
      height: 75vh;
    }
  }
}
  