@use "responsive";

.main {
  background-color: white;
  margin: 0;
  padding: 0px 10px;
  align-self: center;
}

.container {
  display: flex;
  flex-direction: column;
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &--rev {
      flex-direction: column-reverse;
    }
  }
}

.jc {
  &__start {
    justify-content: flex-start;
  }
  &__sb {
    justify-content: space-between;
  }
  &__center {
    justify-content: center;
  }
  &__end {
    justify-content: flex-end;
  }
}

.ai {
  &__start {
    align-items: flex-start;
  }
  &__center {
    align-items: center;
  }
  &__stretch {
    align-items: stretch;
  }
  &__end {
    align-items: flex-end;
  }
}

.ac {
  &__start {
    align-content: flex-start;
  }
  &__center {
    align-content: center;
  }
  &__stretch {
    align-content: stretch;
  }
  &__end {
    align-content: flex-end;
  }
}

.scrollbox {
  overflow-y: auto;
}

.f1 {
  flex: 1;
}

.w {
  &100 {
    width: 100%;
  }
  &90 {
    width: 90%;
  }
  &80 {
    width: 80%;
  }
  &75 {
    width: 75%;
  }
  &70 {
    width: 70%;
  }
  &50 {
    width: 50%;
  }
  &25 {
    width: 25%;
  }
  &20 {
    width: 20%;
  }
  &15 {
    width: 15%;
  }
  &10 {
    width: 10%;
  }
}

.hv {
  &__max {
    height: calc(100vh - 150px);
  }
  &__messages {
    height: calc(100vh - 440px);
    flex-grow: 1;
  }
  &__conversations {
    height: calc(100vh - 340px);
    flex-grow: 1;
    // height: calc(100vh - 240px);
  }
}
  