//Pale Pink
$color-lightest: #FFD7D7;
//Salmon
$color-light: #FE826C;
//Scarlet
$color-dark: #FD2D01;
//Barn Red
$color-darkest: #7F1701;
//Eerie Black
$color-primary-dark: #202020;
//Sonic Silver
$color-secondary-dark: #757575;
