.multiselect-tag {
    background-color: #FD2D01;
    &-remove {
        color: white;
        &:hover {
            background-color: white;
            color: black;
        }
    }
    &:hover {
        background-color: black;
        color: #FD2D01;
    }
}

.multiselect-option {
    &.is-pointed {
        background-color: #FD2D01;
    }
}
