@import "./colors.scss";
@import "./fonts.scss";

.multiselect-tag {
    font-family: "Luciole_Regular", sans-serif;
    color: $color-primary-dark;
    background-color: $color-light;
    &-remove {
        color: white;
        background-color: black;
        &:hover {
            color: black;
            background-color: $color-darkest;
        }
    }
    &:hover {
        color: $color-primary-dark;
        background-color: $color-light;
    }
}

.multiselect-option {
    font-family: "Luciole_Regular", sans-serif;
    color: $color-primary-dark;
    background-color: white;
    &.is-pointed {
        color: $color-primary-dark;
        background-color: $color-light;
    }
}
